{% extends 'home/base.html' %}
{% block content %}
{% include 'include/nav_bar.html' %}


{% include 'include/alert.html' %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Add_New_Karyalay_modal">
    Add New Karyalay
  </button>
<br>



<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">karyalay_name_marathi</th>
        <th scope="col">karyalay_name_eglish</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for k in k %}
      <tr>
        <th scope="row">1</th>
        <td>{{k.karyalay_name_marathi}}</td>
        <td>{{k.karyalay_name_eglish}}</td>
        <td><a href="" class="text-bg-info p-2"data-bs-toggle="modal" data-bs-target="#Edit_karyalay_{{k.id}}" >Edit</a></td>
      </tr>


<!-- Edit Karyalay -->
<div class="modal fade" id="Edit_karyalay_{{k.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="POST"> {% csrf_token %}
            <input type="hidden" name="karyalay_id" value="{{k.id}}" >
              <br>

              <!--* karyalay Name *-->
              <div class="mb-3">
                  <label for="">karyalay name marathi</label>
                <input  name="karyalay_name_marathi" value="{{k.karyalay_name_marathi}}" placeholder="karyalay name marathi" class="form-control" required>
              </div>
              <div class="mb-3">
                  <label for="">karyalay name eglish</label>
                  <input  name="karyalay_name_eglish" value="{{k.karyalay_name_eglish}}" placeholder="karyalay name eglish" class="form-control"  required>
              </div>
              <!--* end karyalay Name !-->
              
              <!--* nearby location *-->
              <div class="mb-3">
                  <label for="">nearby location marathi</label>
                  <input  name="nearby_location_marathi" value="{{k.nearby_location_marathi}}" placeholder="nearby location marathi" class="form-control" required>
                </div>
                
                <div class="mb-3">
                  <label for="">nearby location eglish</label>
                    <input  name="nearby_location_eglish" value="{{k.nearby_location_eglish}}" placeholder="nearby location eglish" class="form-control" required> 
                </div>
                <!--* end nearby location !-->
                
              <!--* Address *-->
              <div class="mb-3">
                  <label for="">Address marathi</label>
                  <input  name="address_marathi" value="{{k.address_marathi}}" placeholder="Address marathi" class="form-control" required>
                </div>
                
                <div class="mb-3">
                  <label for="">Address eglish</label>
                    <input  name="address_eglish" value="{{k.address_eglish}}" placeholder="Address eglish" class="form-control" required>
                </div>
                <div class="mb-3">
                  <label for="">Pin Code </label>
                    <input type="number" name="pin_code" value="{{k.pin_code}}" placeholder="Pin Code" class="form-control" required>
                </div>
                <!--* end Address !-->
                
                  <!--* owner name *-->
              <div class="mb-3">
                  <label for="">owner name Marathi</label>
                  <input  name="owner_name_marathi" value="{{k.owner_name_marathi}}" placeholder="owner name" class="form-control" required>
                </div>
              <div class="mb-3">
                  <label for="">owner name Eglish</label>
                  <input  name="owner_name_english" value="{{k.owner_name_english}}" placeholder="owner name English" class="form-control" required> 
                </div>
                <!--* end owner name !-->
                
              <!--* mobile *-->
              <div class="mb-3">
                  <label for="">mobile</label>
                  <input type="number" value="{{k.mobile}}" name="mobile" oninput="check_number()" id="number" placeholder="mobile" class="form-control" required>
                </div>
                
              <!--* end mobile !-->
                  <!--* pin *-->
                  <div class="mb-3">
                      <label for="">Secret Pin</label>
                      <input type="number" value="{{k.pin}}" oninput="check_pin()" id="pin"  name="pin" placeholder="pin" class="form-control" required>
                  </div>
                  <!--*/?-> end pin <-?/!-->
                

                                <br>
              <button type="submit" class="btn btn-primary" name="Edit_Karyalay">Edit</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  

      {% endfor %}

    </tbody>
  </table>
</div>













<!-- Add Modal -->
<div class="modal fade" id="Add_New_Karyalay_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="POST"> {% csrf_token %}
              <br>
              <!--* karyalay Name *-->
              <div class="mb-3">
                  <label for="karyalay_name_marathi">karyalay name marathi</label>
                <input  name="karyalay_name_marathi" placeholder="karyalay name marathi" class="form-control" required>
              </div>
              <div class="mb-3">
                  <label for="karyalay_name_marathi">karyalay name eglish</label>
                  <input  name="karyalay_name_eglish" placeholder="karyalay name eglish" class="form-control"  required>
              </div>
              <!--* end karyalay Name !-->
              
              <!--* nearby location *-->
              <div class="mb-3">
                  <label for="karyalay_name_marathi">nearby location marathi</label>
                  <input  name="nearby_location_marathi" placeholder="nearby location marathi" class="form-control" required>
                </div>
                
                <div class="mb-3">
                  <label for="karyalay_name_marathi">nearby location eglish</label>
                    <input  name="nearby_location_eglish" placeholder="nearby location eglish" class="form-control" required> 
                </div>
                <!--* end nearby location !-->
                
              <!--* Address *-->
              <div class="mb-3">
                  <label for="karyalay_name_marathi">Address marathi</label>
                  <input  name="address_marathi" placeholder="Address marathi" class="form-control" required>
                </div>
                
                <div class="mb-3">
                  <label for="karyalay_name_marathi">Address eglish</label>
                    <input  name="address_eglish" placeholder="Address eglish" class="form-control" required>
                </div>
                <div class="mb-3">
                  <label for="karyalay_name_marathi">Pin Code </label>
                    <input type="number" name="pin_code" placeholder="Pin Code" class="form-control" required>
                </div>
                <!--* end Address !-->
                
                  <!--* owner name *-->
              <div class="mb-3">
                  <label for="karyalay_name_marathi">owner name Marathi</label>
                  <input  name="owner_name_marathi" placeholder="owner name" class="form-control" required>
                </div>
              <div class="mb-3">
                  <label for="karyalay_name_marathi">owner name Eglish</label>
                  <input  name="owner_name_english" placeholder="owner name English" class="form-control" required> 
                </div>
                <!--* end owner name !-->
                
              <!--* mobile *-->
              <div class="mb-3">
                  <label for="karyalay_name_marathi">mobile</label>
                  <input type="number" name="mobile" oninput="check_number()" id="number" placeholder="mobile" class="form-control" required>
                </div>
                
              <!--* end mobile !-->
                  <!--* pin *-->
                  <div class="mb-3">
                      <label for="karyalay_name_marathi">Secret Pin</label>
                      <input type="number" oninput="check_pin()" id="pin"  name="pin" placeholder="pin" class="form-control" required>
                  </div>
                  <!--*/?-> end pin <-?/!-->
                

                                <br>
              <button type="submit" class="btn btn-primary" name="Add_New_Karyalay">Add</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

  function check_number(){
      mobile=document.getElementById('number').value;
      if (mobile.length <= 9 ){
      document.getElementById('number').style.borderColor ='green';return false;
    }
      if (mobile.length >= 11 ){
      alert('only 10 digit number ')
    }
      if (mobile.length == 10 ){
          document.getElementById('number').style.borderColor ='';return true;
         
    }
  }
  function check_pin(){
      pin=document.getElementById('pin').value;
  
      if (pin.length <= 3 ){
      document.getElementById('pin').style.borderColor ='green';return false;
    }
      if (pin.length >= 5 ){
      alert('only 4 digit number Secret Pin')
    }
      if (pin.length == 4 ){
          document.getElementById('pin').style.borderColor ='';return true;
         
    }
  }
  
  
  
  </script>
  

{% endblock content %}