<style>
.nice-card{
    background-color: rgb(16, 209, 6);
    width:400px;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #000000;
    font-size:20px;
}
b{
    color: white;
    background-color: rgb(28, 146, 28);
    border-radius: 10px;
    padding: 3px;
}
.detail{
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
    body{
        width: 365px;
    }
    .nice-card{
    background-color: rgb(16, 209, 6);
        width: 95%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #000000;
    font-size:20px;
}
b{
    color: white;
    background-color: rgb(28, 146, 28);
    border-radius: 10px;
    padding: 3px;
}
.detail{
    margin-top: 10px;
}
    }
</style>
{% if e|length < 1 %}
<div class="text-center nice-card">
<strong>अभिनंदन {{d}} ही तारीख रिकामी आहे</strong><br>
<strong>कृपया बुक करण्यासाठी</strong><br>
<div class="detail">
<b>संपर्क {{k.owner_name_marathi}} {{k.mobile}}</b>
</div>
</div>
{% else %}
{% for e in e %}
<div class="event_box">
    <div>
    <div class="event_date">{{e.event_date}}</div>
    </div>
    <div class="event_iteam">
    <div class="event_name">{{e.event_name}}</div>
    <div class="parti_name">{{e.parti_name}}</div>
    </div>
    <div class="shere">
        <a href="https://api.whatsapp.com/send?phone=&text=सुस्वागतम !!!!! %0a {{e.parti_name}}  %0a परिवारातर्फे आपले हार्दिक स्वागत आग्रहाचे निमंत्रण !!!! %0a {{e.event_date}} %0a {{e.event_name}} %0a {{e.parti_name}} %0a {{k.karyalay_name_marathi}} , %0a {{k.nearby_location_marathi}},  %0a {{k.address_marathi}}  %0a कृपया आपणांस दिलेल्या लिंक वर जाऊन कार्यालयाच्या मॅप लोकेशन वर कार्यक्रमास उपस्थित राहावे ही नम्र विनंती !!!!! 👉 https://www.bookkaryalay.com/karyalay_detail/{{k.id}}/" target="_blank">Whatsapp Share</a>
    </div>
    </div>
    {% endfor %}
{% endif %}