<div>
    {% for k in k %}
        
    <div class="box" >
        <div class="karyalay_name" href="{% url 'karyalay_detail' k.id %}"> {{k.karyalay_name_marathi}} </div>
        <div class="nearby_location">{{k.nearby_location_marathi}}</div>
        <div class="address">{{k.address_marathi}}</div>
        <div class="pin_code">{{k.pin_code}}</div>
        <div class="owner_name_mobil">
            <div>{{k.owner_name_marathi}}</div>
            <div>{{k.mobile}}</div>
        </div>

        <div><a href="{% url 'karyalay_detail' k.id %}" class="btn btn-primary form-control mt-3">Select</a></div>
    </div>
    {% endfor %}
</div>



